@import "tailwindcss";

:root {
  --bg-main: #121212;
  --bg-card: #1e1e1e;
  --bg-hover: #2a2a2a;

  --color-primary: #ef4444;
  --color-primary-hover: #dc2626;
  --color-on-primary: #f5f5f5;

  --text-main: #f8fafc;
  --text-muted: #94a3b8;

  --color-error: #ef4444;
  --color-success: #22c55e;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-main);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--color-primary), #dc2626);
}
