@import "tailwindcss";

:root {
  --bg-main: #0a0a0a;
  --bg-card: #171717;
  --bg-hover: #262626;

  --color-primary: #ef4444;
  --color-primary-hover: #dc2626;
  --color-on-primary: #ffffff;

  --text-main: #fafafa;
  --text-muted: #a3a3a3;

  --color-error: #ef4444;
  --color-success: #22c55e;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(
    circle at 50% -20%,
    #2a1010 0%,
    var(--bg-main) 50%
  );
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.03;
  pointer-events: none;
  z-index: 50;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-main);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--color-primary), #fca5a5);
}

.glass-panel {
  background: rgba(23, 23, 23, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
